<div id="stage" class="lunch paT0" style="position:relative">
    <div class="lunch_gorilla_logo">
        <img src="../img/99_lunch/logo_001.png" alt="" width="70%;" height="70%;">
    </div>
	<!-- <a href="../package/ios/ver1.0/sugorilunch.plist" class="buttonL back_button maB10">iOS(ver1.0)</a> -->
	<a href="../package/android/ver1.0/sugorilunch.apk" class="buttonL back_button maB10">Andorid(ver1.0)</a>
    <div class="center">
        <p class="font_color_orange size_ss">※iOS版は現在調整中です(mockStoreに配布しております)</p>
    </div>
</div>
