<div id="stage" class="lunch" style="position:relative">
	<div class="color_red ma0a w290">
	    <br>【バグ】<br><hr>
	    <div class="size_ss left" style="padding-left: 10px">
	        <p style="text-indent: -10px">・アプリのタスクを切ると再度認証が走る</p>
	        <p style="text-indent: -5px">→Ver1.1より解決しました。お手数ですが再DLをお願い致します</p>
	    </div>
	</div>
</div>
