<div id="stage" class="lunch" style="position:relative">
	<div class="color_red ma0a w290">
	    <br>【バグ】<br><hr>
	    <div class="size_ss left" style="padding-left: 10px">
	        <p style="text-indent: -10px">・アプリのタスクを切ると再度認証が走る(現在対応中)</p>
	        <p style="text-indent: -10px">・ログインできない</p>
	        <p style="text-indent: -5px">→CASSOを使用しております。telmaにてメールアドレスが登録されているか確認をお願い致します</p>
	    </div>
	</div>
</div>
